.col-md-8.col-md-offset-2
  %h2 What do you look for in a neighbourhood?
  %h3 #{@remaining} questions remaining
  = form_for @answer do |f|
    = f.hidden_field :question_id
    .well
      %p= @question.text
      .btn-group{role: 'group', data: {toggle: 'buttons'}}
        - @question.available_answers.each do |a|
          %label.btn.btn-default
            = f.radio_button :answer, a[0]
            = a[0]
      - if @question.ask_subtype?
        .pull-right
          = f.select :subtype, @answer.available_subtypes, {include_blank: 'any'}, class: 'selectpicker'
    .btn-group.pull-right{role: 'group'}
      %button.btn.btn-primary{type: 'submit'} Next &raquo;
