%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Answer questions
.col-md-8.col-md-offset-2
  %h2 What do you look for in a neighbourhood?
  - if @answer.new_record?
    .progress
      .progress-bar{role: 'progressbar', style: "width: #{progress}%;"}
        = "#{progress}% answered"
  = render partial: 'form', locals: {answer: @answer}
