.col-md-8.col-md-offset-2
  %h2 Tell us about your perfect neighbourhood
  - if @answer.new_record?
    .progress
      .progress-bar{role: 'progressbar', style: "width: #{progress}%;"}
        = "#{remaining} questions left"
  = render partial: 'form', locals: {answer: @answer}
  - if @answer.new_record? and current_user.answers.count >= 5
    #jumpahead
      = link_to matches_path, class: 'btn btn-default' do
        Go straight to matches
        %span.glyphicon.glyphicon-fast-forward
