%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Answer questions
.col-md-8.col-md-offset-2
  %h2 What do you look for in a neighbourhood?
  %h3 #{remaining_questions} questions remaining
  = form_for @answer do |f|
    = f.hidden_field :question_id
    .well
      = errors_for @answer
      %p= @answer.question.text
      .btn-group{role: 'group', data: {toggle: 'buttons'}}
        - @answer.question.available_answers.each do |a|
          %label.btn.btn-default
            = f.radio_button :answer, a[0]
            = t a[0]
      - if @answer.question.ask_subtype?
        .pull-right
          = f.select :subtype, @answer.available_subtypes.map {|st| [t(st), st]}, {include_blank: 'Any'}, class: 'selectpicker'
    .btn-group.pull-right{role: 'group'}
      = f.button('Next &raquo;'.html_safe, class: 'btn btn-primary')
