.col-md-8.col-md-offset-2
  %p
    = link_to root_path do
      %span.glyphicon.glyphicon-chevron-left
      Home
      
  .img-header
    = image_tag 'trinity.jpg', alt: 'Trinity shopping centre and church'
  
  %h1 About GSOH
  
  %p
    %b GSOH: Great Sense of Home
    was commissioned by Leeds City Council Adult Social Care as part of the
    innovation pathway, run by #{link_to 'Urban Sustainable Development Lab', 'http://dhyaandesign.com/sustainabledevelopmentlab/'}
    and #{link_to 'Leeds Data Mill', 'http://leedsdatamill.org/'}.
    
  %p
    The technology is similar to a dating site - users build a profile of
    themselves and then they're matched against areas of the city that best match
    their profile. Maybe you'll find somewhere new to live!

  %h2 About the data

  %p
    Leeds-specific data, such as the locations of public wifi and
    the Neighbourhood Network Schemes, is provided by
    #{link_to 'Leeds Data Mill', 'http://leedsdatamill.org/'}.

  %p
    A lot of the more generic data is provided by
    #{link_to 'OpenStreetMap', 'https://www.openstreetmap.org/'}. This is an
    editable map of the world - kind of like the Wikipedia of maps.
    If you spot that something is missing or in the wrong location, you're
    invited to fix it yourself!
    
  %p
    Most of the photos are sourced from #{link_to 'FreeImages.com', 'http://www.freeimages.com/'}
    and are subject to the licence agreement on that site. Photos of Leeds are
    copyright their respective owners and used with permission.

  %h2 About the code

  %p
    The code for GSOH was written by #{link_to 'Fish Percolator', 'https://fishpercolator.co.uk/'}
    and is open source, released under the MIT licence.
    #{link_to 'Find it on Github!', 'https://github.com/fishpercolator/gsoh'}
  
  %p
    If you're another local authority who would like to adapt this for your
    own city, get in touch: hello@fishpercolator.co.uk
