%tr
  %th
    = t match_row.question.ftype
    - if match_row.subtype?
      (#{t match_row.subtype})
  %td
    - features = match_row.area_matching_features(area).sort_by {|f| f.name.downcase}
    - if features.any?
      - features[0..2].each do |feature|
        = feature.name
        %br
      - if features.length > 3
        %a{role: 'button', data: {toggle: 'collapse'}, href: "#features-#{match_row.question.ftype}"}
          = features.length - 3
          more
          %b.caret
        %div.collapse{id: "features-#{match_row.question.ftype}"}
          - features[3..-1].each do |feature|
            = feature.name
            %br
    - else
      None found
  %td
    - if features.any?
      %button.btn.btn-default.show-on-map{id: "show-#{match_row.question.ftype}", onclick: "show_features(\"show-#{match_row.question.ftype}\", #{features_map_json features})"}
        Show
