!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'GSOH: Great Sense of Home'
    = Gon::Base.render_data
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Gsoh'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag
    = csrf_meta_tags
    = analytics_init(skip_pageview: true) if GoogleAnalytics.valid_tracker?
  %body
    %header{class: controller_name}
      = render 'layouts/nav'
    %main{:role => "main", class: controller_name}
      = yield :outside_container
      #content
        = render 'layouts/messages'
        = yield
        .push
    %footer
      .pull-right
        &copy; 2016 
        = link_to 'Fish Percolator', 'https://fishpercolator.co.uk/'
        (#{link_to raw('<span class="hidden-xs">source available on </span>GitHub'), 'https://github.com/fishpercolator/gsoh'})
